@import '_slider';

@font-face {
    font-family: Elsie;
    src: url('../static/fonts/Elsie-Regular.ttf');
}

@font-face {
    font-family: Elsie;
    src: url('../static/fonts/Elsie-Black.ttf');
    font-size: 700;
}



* {
    margin: 0;
    padding: 0;
}

$mint: #c0eed8;

body {
    color: #000;
    font-family: Elsie, sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

input.btn {
    display: none;   
    & + label {
        padding: 5px 10px;
        background-color: #fff;
        box-shadow: 0 0 5px #00000050,
        inset 0 0 0px #00000050;
        border-radius: 7px;
        transition: all .3s;
        cursor: pointer;
        user-select: none;
        &:hover{
            // background-color: #c0eed8;
        }
    }
    &:checked + label {
        box-shadow:  0 0 0px #00000050,
        inset 0 0 5px #00000060;
        background-color: #c0eed8;
        // background-color: #5ec593;
        transform: scale(0.97);
        color: #11482c;
    }
}


@import '_header.scss';
@import '_footer.scss';




