.filterPopup_button {
    & > label {
        background-color: $mint;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        cursor: pointer;

    }
    &>input {
        display: none;

        &:checked~.filterPopup {
            top: 0;
        }
    }

}


.filterPopup {
    position: fixed;
    top: -100vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000060;

    .disappear_popup {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
    }

    .filterContainer {
        width: clamp(300px, 90%, 500px);
        height: 90vh;
        text-align: center;

        display: grid;
        grid-template-rows: 60px 1fr 60px;
        align-self: center;
        position: relative;
        z-index: 102;

        .filter_title {
            line-height: 60px;
            font-size: 20px;
            background-color: #fff;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 0 10px #00000090;
            // position: relative;
            z-index: 2;
        }

        .filters-window {
            width: 100%;
            margin: 0 auto;
            overflow: scroll;
            background-color: #fff;
            position: relative;
            z-index: 1;
            // border: 3px solid #ccc;
            .filters {
                width: 100%;
                &>div {
                    padding: 20px;
                    text-align: right;
                    border-top: 1px solid #ddd;
                    &:first-of-type {
                        border-top: none;
                    }
                    .title {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                }

                .sell_rent {
                    .sellRent {
                        position: relative;
                        display: flex;
                        width: 150px;
                        border-left: 1px solid #ccc;

                        input {
                            display: none;

                            &:checked+label .slider {
                                transform: translateX(calc(100% + 4px));

                                .rent {
                                    opacity: 0;
                                }

                                .sell {
                                    opacity: 100;
                                }
                            }
                        }

                        label {
                            width: calc(100% - 5px);
                            margin-left: 5px;
                            height: 100%;
                            background-color: #ddd;
                            box-shadow: inset 0 0 5px #00000050;
                            border-radius: 7px;

                            .slider {
                                position: relative;
                                width: calc(50% - 4px);
                                height: calc(100% - 4px);
                                margin: 2px;
                                border-radius: 5px;
                                background-color: #fff;
                                transition: transform .5s;
                                box-shadow: 0 0 2px #00000050;

                                span {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    transition: opacity .5s;
                                }

                                .sell {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }

                .characteristics {

                    .action {
                        width: 100%;
                        flex-wrap: wrap;
                        display: flex;
                        gap: 10px;
                        justify-content: end;
                    }
                }
            }
        }
        .filter_actions {
            background-color: #fff;
            border-radius:0 0 10px 10px;
            box-shadow: 0 0 10px #00000090;
            // position: relative;
            z-index: 2;
            padding: 10px 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            & > * {
                border-radius: 7px;
                border: 1px solid #ccc;
                padding: 5px 10px;
                cursor: pointer;
                box-shadow: 0 0 10px #00000020;
            }
            & > #filter_accept {
                // background-color: $mint;
                border-color: $mint;
                padding: 5px 20px;
            }
        }
    }

}