.range-body {   
    margin: 0 auto;
    
    background-color: red;
}

.range {
    position: relative;
    width: 400px;
    height: 10px;

    border-radius: 5px;
    background-color: #ddd;
    margin-bottom: 100px;

    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    & > button {
        position: absolute;
        top: 50%;

        width: 20px;
        height: 20px;

        cursor: move;
        transform: translateY(-50%);

        border: none;
        border-radius: 50%;
        background-color: #999;
    }

    .range__between {
        position: absolute;
        height: 4px;
        width: 0px;
        margin-top: 3px;
        border: none;
        background-color: #559933;

    }

    & > input {
        margin-top: 30px;
        width: 30%;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 7px;
    }
}
