

.customRangeSlider {
    position: relative;
    width: 100%;
    height: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ddd;
    box-shadow: inset 0 0 5px #00000090;
    margin-bottom: 70px;

    & > button {
        display: block;
        position: absolute;
        top: 50%;

        width: 30px;
        height: 30px;

        cursor: move;
        transform: translateY(-50%);

        border: none;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 0 0 10px #00000050;
    }

    .range__between {
        position: absolute;
        height: 10px;
        width: 0px;
        border: none;
        background-color: #c0eed8;
        box-shadow: inset 0 0 5px #00000090;
        transform: translateX(4px);

    }

    & > input {
        margin-top: 30px;
        width: 30%;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 7px;
        &:first-of-type {
            margin-right: 20%;
        }
    }
}
