





<section class="main">
    <div class="container">
        <div class="title-container">
            <div class="title">TEN</div>
        </div>
    </div>
</section>
<div class="container">

 

    
</div>
<section class="aboutUs">
    <div class="container">
        <div class="persone first">
            <div class="portret">

            </div>
            <div class="name">חיים ישראל רוקח</div>
            <div class="title">מנהל כללי</div>
        </div>

        <div class="text">
            <div class="title">
                עלינו
            </div>

            <p>
                אנחנו צוות של סוכני נדל"ן מקצועיים עם ניסיון של שנים רבות. השירותים שלנו כוללים הערכת נכסים, ליווי משפטי
                לעסקאות והתאמה אישית של נכסים. אנו מבטיחים אמינות, שקיפות ורמת שירות גבוהה. סמכו עלינו ואנחנו נעזור לכם
                למצוא את הבית המושלם
            </p>
        </div>


        <div class="persone second">
            <div class="name">טטיאנה קפרלוב</div>
            <div class="title">מנהלת משרד</div>
            <div class="portret">

            </div>
        </div>

    </div>
</section>

<section class="products">
    <div class="container">
        <div class="type">
            <input type="radio" id="house" name="productType" checked>
            <label for="house">בתים</label>
            <input type="radio" id="apartments" name="productType">
            <label for="apartments">דירות</label>
            <input type="radio" id="land" name="productType">
            <label for="land">אחר</label>
            <input type="checkbox" id="filter">
            <label for="filter" id="openFilters"></label>
            <div class="filterPopup">
                <div class="filterContainer">
                    <div class="title">סינונים נוספים</div>
                    <div class="filters">
                        <div class="characteristics">
                            <div class="sellRent">
                                <input type="checkbox" id="sellRent">
                                <label for="sellRent">
                                    <div class="slider">
                                        <span class="sell">מכירה</span>
                                        <span class="rent">השכרה</span>
                                    </div>
                                </label>
                            </div>
                            <div class="title">מאפייני הנכס</div>
                            <div class="action">
                                <input type="checkbox" class="btn" id="condition">
                                <label for="condition">מיזוג</label>
                                <input type="checkbox" class="btn" id="stock">
                                <label for="stock">מחסן</label>
                                <input type="checkbox" class="btn" id="parking">
                                <label for="parking">מניה</label>
                            </div>
                        </div>
                        <div class="floor">
                            <div class="title">קומה</div>
                            <div class="customRangeSlider" min="-1" max="20" alias='{
                                "-1": "minus one",
                                "0": "zero",
                                "5": "five"
                            }'></div>
                        </div>
                        <div class="size">
                            <div class="title">גודל דירה (במ״ר)</div>
                            <!-- <div class="customRangeSlider" ></div> -->
                            <div id='id66' class="customRangeSlider">
                                <div id='id66b' class='range__between'></div>
                                <button id='id661' class="range__button_1"></button>
                                <button id='id662' class="range__button_2"></button>
                                <input id='id66i1' class='range_inpt1' type='text' min='-1' max='20'>
                                <input id='id66i2' class='range_inpt2' type='text' min='-1' max='20'>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <button>accept</button>
                        <button>cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flats" id="flats"></div>
</section>





</div>