





<section class="main">
    <div class="container">
        <div class="title-container">
            <div class="title">TEN</div>
        </div>
    </div>
</section>
<div class="container">

 

    
</div>
<section class="aboutUs">
    <div class="container">
        <div class="persone first">
            <div class="portret first">

            </div>
            <div class="name">חיים ישראל רוקח</div>
            <div class="title">מנכ"ל ובעלים</div>
        </div>

        <div class="text">
            <div class="title">
                עלינו
            </div>

            <p>
                אנחנו צוות של סוכני נדל"ן מקצועיים עם ניסיון של שנים רבות. השירותים שלנו כוללים הערכת נכסים, ליווי משפטי
                לעסקאות והתאמה אישית של נכסים. אנו מבטיחים אמינות, שקיפות ורמת שירות גבוהה. סמכו עלינו ואנחנו נעזור לכם
                למצוא את הבית המושלם
            </p>
        </div>


        <div class="persone second">
            <div class="name">טטיאנה קפרלוב</div>
            <div class="title">מנהלת משרד</div>
            <div class="portret second">

            </div>
        </div>

    </div>
</section>

<section class="products" id="products">
    <div class="container">
        <div class="type" id="typeBar">
            <input type="radio" id="house" name="productType" checked>
            <label for="house">בתים</label>
            <input type="radio" id="apartments" name="productType">
            <label for="apartments">דירות</label>
            <input type="radio" id="land" name="productType">
            <label for="land">אחר</label>
            
        </div>
        <div class="flats" id="flats"></div>
</section>





</div>